body {
  margin:0;
  background:#0a0a0a;
  color:white;
  font-family:Arial;
}

header {
  background:#111;
  padding:10px;
  text-align:center;
}

#search {
  width:90%;
  padding:8px;
  margin-top:8px;
  border-radius:6px;
  border:none;
}

.tabs {
  display:flex;
  background:#151515;
}

.tabs button {
  flex:1;
  padding:12px;
  background:none;
  border:none;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

#grid {
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
  padding:10px;
}

.card {
  background:#1b1b1b;
  border-radius:10px;
  overflow:hidden;
}

.card img {
  width:100%;
  height:160px;
  object-fit:cover;
}

.card h3 {
  padding:8px;
  font-size:14px;
}

.button {
  background:#ff0044;
  padding:8px;
  text-align:center;
  margin:8px;
  border-radius:6px;
  cursor:pointer;
}

.ad {
  background:#111;
  text-align:center;
  padding:10px;
  color:#666;
}
