body{margin:0;background:#070707;color:white;font-family:Arial}

header{background:#111;padding:12px;text-align:center;font-size:20px}

#search{width:92%;margin:10px auto;display:block;padding:10px;border-radius:8px;border:none}

.tabs,.subtabs{display:flex;background:#161616;overflow-x:auto}

.tabs button,.subtabs button{
flex:1;padding:10px;background:none;border:none;color:#aaa;font-weight:bold;cursor:pointer
}

.tabs button.active{color:#ff0044;border-bottom:2px solid #ff0044}

.subtabs{font-size:12px}

#grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
padding:10px;
}

.card{background:#1a1a1a;border-radius:12px;overflow:hidden}

.card img{width:100%;height:160px;object-fit:cover}

.card h3{padding:8px;font-size:14px}

.button{
background:#ff0044;
padding:10px;
margin:8px;
text-align:center;
border-radius:8px;
cursor:pointer;
font-weight:bold;
}

.ad{
background:#111;
text-align:center;
padding:10px;
color:#666;
margin:10px;
border-radius:8px;
}

.modal{
position:fixed;top:0;left:0;width:100%;height:100%;
background:rgba(0,0,0,0.95);
display:none;justify-content:center;align-items:center;z-index:999;
}

.modal-box{
background:#111;padding:20px;border-radius:12px;width:90%;max-width:400px;
}

.modal-box img{width:100%;border-radius:10px;margin-bottom:10px}

.cancel{text-align:center;margin-top:10px;color:#999;cursor:pointer}

.popup{
position:fixed;top:0;left:0;width:100%;height:100%;
background:black;display:none;justify-content:center;align-items:center;z-index:1000;
}

.popup-box{background:#111;padding:25px;border-radius:12px;text-align:center}
