body{margin:0;background:#0a0a0a;color:white;font-family:Arial}

header{background:#111;padding:10px;text-align:center}

.home-grid{
display:grid;
grid-template-columns:1fr;
gap:15px;
padding:20px;
}

.home-btn{
background:#ff0044;
padding:20px;
text-align:center;
border-radius:10px;
font-size:20px;
color:white;
text-decoration:none;
}

#grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
padding:10px;
}

.card{background:#1a1a1a;border-radius:10px;overflow:hidden}

.card img{width:100%;height:150px;object-fit:cover}

.button{
background:#ff0044;
padding:8px;
margin:8px;
text-align:center;
border-radius:6px;
cursor:pointer;
}

.ad{background:#111;text-align:center;padding:10px;color:#666}
